body
{
  background: url('./background.jpg');
  background-position: bottom;
  background-attachment: fixed;
  font-family: "comforta", sans-serif;
  color: white;
}
.searchBar
{
  height: 10vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBarparentDiv
{
  width: 50%;
  height: fit-content;
  position: relative;
}
.inputfield
{
  width: 100%;
  border-radius: 25px;
  padding: 10px;
}
.searchIcon
{
  position: absolute;
  right: 10px;
  top: 2px;
}
.searchIcon:hover
{
  cursor: pointer;
}
.mainContentParentDiv
{
  height: 90vh;
}
.leftDiv
{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.leftChild
{
  background: rgba(212,212,212,0.4);
  width: 85%;
  height: 40vh;
  margin: auto;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}
.currentTemDiv 
{
  font-size: large;
}
#cityName
{
  font-size: xx-large;
}
#cityTemp
{
  font-size: x-large;
}



.rightDiv
{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#comingFiveDaysTitle
{
  font-size: x-large;
}

.rightRow
{
  height: 27vh;
  width: 100;
}

.extraMetric
{
  background: rgba(212,212,212,0.4);
  padding: 5% 3%;
  width: fit-content;
  border-radius: 15px;
  align-items: center;
}

.rowTwoDiv
{
  background: rgba(212,212,212,0.4);
  backdrop-filter: blur(15px);
  width: 45%;
  height: 85%;
  border-radius: 15px;
}

.todayTemp
{
  background: rgba(212,212,212,0.4);
  width: fit-content;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}